@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 100px;
    background-color: #0A1D37;
}

h1 {
    margin: 0px 0px 20px 60px;
    padding: 20px 0px 0px 30px;
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.form {
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CC6733;
    box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.486);
}

.form input {
    width: 15%;
    border: 3px solid white;
    border-radius: 7px;
}

.form select {
    border: 3px solid white;
    border-radius: 7px;
    width: 15%;
    height: 27px;
}

.btn-trash {
    background-color: #CC6733;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.btn-filtrar {
    width: 80px;
    font-size: 12px;
    padding: 6px 8px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.548);
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px 100px 0px;
}

.card {
    border: 1px solid rgba(119, 119, 119, 0.479);
    max-width: 300px;
    max-height: 550px;
    margin: 50px 10px 0px 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 40%;
}

.tittle {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.774);
    margin: 20px 0px;
}

.container-info {
    margin: 0px 20px;
}

p {
    font-size: 12px;
}

.location-card {
    height: 30px;
    margin: 20px 0px 5px 20px;
    font-size: 15px;
    color: #00000083
}

.info-room {
    height: 30px;
    margin: 10px 0px 10px 20px;
    font-size: 13px;
}

.info-room span i {
    margin-right: 5px;
}

.btn-reserva {
    font-size: 12px;
    margin-top: 0px;
    border: none;
    background-color: #CC6733;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.btn-reserva:hover {
    transition: all .3s ease-in-out;
    background-color: white;
    color: #CC6733;
}

i {
    width: 25px;
    height: 25px;
    margin: 0px 5px;
}

.fa-dollar-sign {
    margin: 0px;
    width: 8px;
}

.info-room span {
    margin-right: 10px;
}

footer {
    border: 1px solid;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #061830;
}

footer a i {
    color: white;
    margin: 0px 15px;
    font-size: 20px;
}

.active {
    color: #CC6733;
    transform: scale(1.2);
    transition-duration: 0.8s;
}

.modal-title {
    font-size: 18px;
}

.modal-img {
    width: 100%;
    height: 270px;
    margin-top: 10px;
}

.modal-body {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.modal-body p {
    font-size: 15px;
    margin: 10px 5px;
}

.modal-locacion {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.modal-precio {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.containerForm {
    text-align: center;
    width: 100%;
}

.cantidad-personas {
    margin: 5px 0px;
    width: 100%;
}

.cantidad-noches {
    width: 100%;
    margin-bottom: 13px;
}

.resumen {
    margin-top: 10px;
    width: 100%;
    height: 70px;
    border: 1px solid #7c7c7c83;
    text-align: center;
    padding-top: 13px;
}

.btn-consultar {
    width: 100px;
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    background-color: #CC6733;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px;
}

.disabled {
    display: none;
}

@media screen and (max-width: 400px) {
    body {
        margin: 0 auto;
        max-width: 400px;
        font-family: 'Open Sans', sans-serif;
    }
    .header {
        height: 70px;
        background-color: #0A1D37;
    }
    h1 {
        margin: 0 auto;
        color: rgb(255, 255, 255);
        font-weight: 100;
    }
    .form {
        height: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: #CC6733;
        box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.486);
    }
    .form input {
        width: 100%;
        border: 3px solid white;
        border-radius: 7px;
        margin: 0px 5px;
    }
    .form select {
        border: 3px solid white;
        border-radius: 7px;
        width: 100%;
        height: 27px;
        margin: 0px 5px;
    }
}